* {
    box-sizing: border-box;
}

body {background-color: #ff8787;}

canvas {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10;
}

footer{
    position: absolute;
    height: 50px;
    left: 0;
    bottom: 0;
    line-height: 50px;
    text-align: center;
    width: 100%;
    z-index: 20;
}

.panel-control{
    background: #e1e1e1;
    width: 30%;
    min-width: 216px;
    padding: 10px;
    display: flex;
    position:absolute;
    z-index: 30;
    flex-direction: column;
}

.panel-row div:not(.panel-title){
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.panel-title {
    border-bottom: 2px solid #1b1b1b;
    margin-bottom: 8px;
}